html, body {
	margin: 0;
	padding: 0;
}

#info {
	width: 50%;
	float: left;
}

#map {
	width: 50%;
	float: right;
}

.table {
	border-collapse: collapse;
	margin-left: 4%;
	width: 92%;
}

.table caption {
	text-decoration: underline;
	font-size: 36px;
	margin: 3%;
}

.table thead {
	background-color: #000;
	text-align: center;
	color: #fff;
}

.table td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #ddd;
}